*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* All document section importen code start  */
html, body{
    background-color: #181C31;
    width: 100%;
    overflow-x: hidden;
}

.main_wraper{
    position: relative;
    top: -300px;
}
h1, h2, h3, h4, h5, h5, p{
    position: relative;
    z-index: 999;
}
/* All document section importen code end  */

/* navbar section start  */
nav{
    z-index: 99;
    
}
.nav_brand_img{
    width: 45px;
}
.nav_logo_name{

}
.navbar-toggler-icon{
    background-image: url('../img/navicon1.png');
    color: white !important;
}
nav ul li a{
    color: white !important;
}
.sign_In, .Sign_Up{
    background-color:#1C2136;
    text-align: center;
    padding: 2px;
    margin: 5px 0px;
    width: 75px;
    border-radius: 6px;
}
/* .loginSingIn ul{
    margin-bottom: 0;
    background-color: #122058;
    padding: 10px;
}
.loginSingIn ul li:hover{
    background: #613d3dee !important; 
    border-radius: 16px !important;
    outline: none !important;
} */
/* navbar section end  */

/* hero section start  */
.hero-section{
    z-index: -2;
}
.hero-img-section{
   
position: relative;
   
top: -815px;
   
left: 204px;
   
z-index: 1;
}
.hero_img img{
   width: 100%;
}
.hero_btn_custom{
    background-color: rgb(10, 38, 202);
    outline: noen;
    padding: 10px 30px;
    border: none;
    border-radius: 26px;
    color: white;
}
.text_custom_color{
    color: #868891;
}
.font-small{
    font-size: 15px !important;
}
/* hero section  end */

/* support section start  */
.suport_section_img{
 
}
.suport_img_icon{
   background-color: red;
   border-radius: 50%;
}
.suport_section_img i{
    font-size: 50px;
}
.suport_section{
    margin-top: -850px;
    color: white;
}
/* support section end  */

/* best services start */
.best-services{
    align-items: flex-start;
}
.btn_custom{
    display: inline-block;
    background-color: rgb(10, 38, 202);
    outline: noen;
    padding: 10px 30px;
    border: none;
    border-radius: 26px;
    color: white;
    width: 200px;
}
/* best services end */

/* trust section start  */
.trust_section .col-8{
    height: 180px;
}
.background_img{
    background-image: url('../img/Trust/shape-08.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


}
/* trust section end  */

/* affordable section start  */
.affordable_section{
    background-color: #1C2136;
}
.affor-card{
    background-color: #181C31;
    border-radius: 16px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 24px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 19px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 101px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
/* affordable section end  */
/* affordable prime section start  */
/* .button_group{
    background-color: white;
    border-radius: 16px;
    display: inline-block;
    
}
.button_group button{
    background-color: transparent;
    border-radius: 16px;
    border: none;
    outline: none;
    padding-right: 40px;

} */
/* affordable prime section end  */

/* amd section  start */
.amd-card{
    background-color: #1C2136;
}
.red{
    position: relative;
    width: 10px;
    height: 50%;
    background-color: red;
    display: inline-block;
}
/* amd section  end */

/* achive_section start  */
.achive_section{
    background-color: #1C2136;
    background-image: url('../img/achive/shape-16.png');
    background-position: center;
    background-size: cover;
}
/* achive_section end  */

/* brand section start  */
.brand-section{
    border-bottom: 1px solid #868891;
}
/* brand section end  */

/* blog news section start  */
.blog_news{
    background-color: #1C2136;
}

/* blog news section end  */

/* contact section start  */
.bg-custom{
    background-color: #1C2136;
}
.social_media a{
    display: inline-block;
}
/* contact section end  */







/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // for small device respon...) */
@media (min-width: 475px) { 
    .hero-img-section{
        position: relative;
        top: -815px;
        left: 225px;
        z-index: 1;
        }
 }
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .hero-img-section{
        position: relative;
        top: -875px;
        left: 300px;
        z-index: 1;
        }
    .main_wraper{
        position: relative;
        top: -1000px;
       
    }
}
/* .... for 760px near by browser tablet... */
@media (min-width: 760px) {
    .main_wraper{
        position: relative;
        top: -600px;
        
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .hero-img-section{
        position: relative;
        top: -844px;
        left: 393px;
        z-index: 1;
        }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .hero-img-section{
        position: relative;
        top: -878px;
        left: 629px;
        z-index: 1;
        }
    .sign_In, .Sign_Up{
        background-color: #1c213629;
        text-align: center;
        padding: 2px;
        margin: 0px 9px;
        width: 84px;
        border-radius: 6px;
    }
    .sign_In:hover{
        background-color: #1C2136;
    }
    .Sign_Up:hover{
        background-color: #1C2136;
    }

    /* main_wraper section  */
    .main_wraper{
        position: relative;
        top: -750px;
    }

    
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .hero-img-section{
        position: relative;
        top: -1027px;
        left: 799px;
        z-index: 1;
        }
  }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    .main_wraper{
        position: relative;
        top: -1000px;
        
    }
 }