*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* All document section  */
body{
    background-color: #181C31;
    width: 100%;
    overflow-x: hidden;
}

/* navbar section start  */
.nav{
    z-index: 99;
}
.nav_brand_img{
    width: 45px;
}
.nav_logo_name{

}
.navbar-toggler-icon{
    color: white !important;
}
nav ul li a{
    color: white !important;
}
.loginSingIn ul{
    margin-bottom: 0;
}
.loginSingIn ul li:hover{
    background: #613d3dee !important; 
    border-radius: 16px !important;
    outline: none !important;
}
/* navbar section end  */

/* hero section start  */
.hero-img-section{
   
position: relative;
   
top: -900px;
   
left: 700px;
   
z-index: -1;
}
.hero_img img{
   width: 100%;
}
.hero_btn_custom{
    background-color: rgb(10, 38, 202);
    outline: noen;
    padding: 10px 30px;
    border: none;
    border-radius: 26px;
    color: white;
}
.text_custom_color{
    color: #868891;
}
/* hero section  end */

/* support section start  */
.suport_section_img{
 
}
.suport_img_icon{
   background-color: red;
   border-radius: 50%;
}
.suport_section_img i{
    font-size: 50px;
}
.suport_section{
    margin-top: -850px;
    color: white;
}
/* support section end  */

/* best services start */
.best-services{
    align-items: flex-start;
}
.btn_custom{
    display: inline-block;
    background-color: rgb(10, 38, 202);
    outline: noen;
    padding: 10px 30px;
    border: none;
    border-radius: 26px;
    color: white;
    width: 200px;
}
/* best services end */

/* trust section start  */
.trust_section .col-8{
    height: 180px;
}
.background_img{
    background-image: url('../img/Trust/shape-08.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


}
/* trust section end  */

/* affordable section start  */
.affordable_section{
    background-color: #1C2136;
}
.affor-card{
    background-color: #181C31;
    border-radius: 16px;
}
/* affordable section end  */
